
/FlagSync/_ReSharper.FlagSync
/FlagSync/FlagSync.Core/bin
/FlagSync/FlagSync.Core/obj
/FlagSync/FlagSync.Data/bin
/FlagSync/FlagSync.Data/obj
/FlagSync/FlagSync.Setup/Debug
/FlagSync/FlagSync.Setup/Release
/FlagSync/FlagSync.View/bin
/FlagSync/FlagSync.View/obj